<!DOCTYPE html>
<html lang="en">
<!-- Target
1) Resize and movable
2) Add Shape
3) Add textbox-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drawing</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            height: 100vh;
            background-color: #333;
        }

        #main,
        #content {
            height: 100%;
            width: 100%;
        }

        #content {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        #nav {
            position: absolute;
            z-index: 999999;
            margin: 10px;
            border-radius: 10px;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 10px #ccc;
            background-color: white;
            user-select: none;
        }

        #nav * {
            color: #333;
            user-select: none;
        }

        #type label {
            margin: 5px;
            padding: 10px 13px;
            display: block;
            border-radius: 50%;
        }

        #type label:hover {
            background-color: #ccc;
        }

        #type label:active {
            background-color: #ddd;
        }

        #nav [type="radio"] {
            display: none;
        }

        #type label.typeActive {
            background-color: #333;
            border-radius: 20px;
        }

        #type label.typeActive span {
            color: white;
        }

        path.choosen {
            cursor: move;
        }

        [v-cloak]>* {
            display: none;
        }

        [v-cloak]::before {
            content: "Loading...";
            box-sizing: border-box;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50px;
            height: 50px;
            margin-top: -10px;
            margin-left: -10px;
            border-radius: 50%;
            border: 2px solid #ccc;
            border-top-color: #333;
            animation: spinner 0.8s linear infinite;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
        }

        @keyframes spinner {
            to {
                transform: rotate(360deg);
            }
        }

        svg {
            height: 744px;
            width: 1052px;
            touch-action: none;
            position: absolute;
        }

        #draw {
            border: 1px solid black;
        }

        #grid_wrap {
            background-color: white;
        }

        #fps {
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 30px;
            padding: 5px;
            background-color: white;
            font-family: latin;
            font-weight: bold;
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <div id="fps">FPS</div>

    <div id="main" v-cloak>
        <div id="nav">
            <!-- Creating radio buttons -->
            <div id="type">
                <label v-bind:class="{ typeActive: type=='pen' }" id="pen" title="pen">
                    <input type="radio" name="type" value="pen" v-model="type">
                    <span class="material-icons">edit</span>
                </label>
                <label v-bind:class="{ typeActive: type=='cursor' }" id="cursor" title="cursor">
                    <input type="radio" name="type" value="cursor" v-model="type">
                    <span class="material-icons">open_with</span>
                </label>
                <label v-bind:class="{ typeActive: type=='text' }" id="text" title="textbox">
                    <input type="radio" name="type" value="text" v-model="type">
                    <span class="material-icons">title</span>
                </label>
                <label v-bind:class="{ typeActive: type=='rect' }" id="rect" title="rectangle">
                    <input type="radio" name="type" value="rect" v-model="type">
                    <span class="material-icons">crop_5_4</span>
                </label>
                <label v-bind:class="{ typeActive: type=='circle' }" id="circle" title="circle">
                    <input type="radio" name="type" value="circle" v-model="type">
                    <span class="material-icons">panorama_fish_eye</span>
                </label>
                <label v-bind:class="{ typeActive: type=='line' }" id="line" title="line">
                    <input type="radio" name="type" value="line" v-model="type">
                    <span class="material-icons">horizontal_rule</span>
                </label>
                <label id="upload" title="upload">
                    <input type="file" name="file" v-on:change="upload" hidden>
                    <span class="material-icons">cloud_upload</span>
                </label>
                <label id="save" title="save">
                    <input type="button" name="type" v-on:change="save" hidden>
                    <span class="material-icons">save</span>
                </label>
            </div>
        </div>

        <div id="content">
            <svg id="grid_wrap" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <pattern id="smallGrid" width="8" height="8" patternUnits="userSpaceOnUse">
                        <path d="M8,0L0,0,0,8" fill="none" stroke="#cccccc" stroke-width="0.5" />
                    </pattern>
                    <pattern id="grid" width="80" height="80" patternUnits="userSpaceOnUse">
                        <rect width="80" height="80" fill="url(#smallGrid)" />
                        <path d="M80,0L0,0,0,80" fill="none" stroke="#cccccc" stroke-width="1" />
                    </pattern>
                </defs>

                <rect width="100%" height="100%" fill="url(#grid)" />
            </svg>
            <svg id="draw" viewBox="0 0 1052 744">
                <g id="resize_wrap">
                    <rect id="resize_border" fill="none" stroke="lightblue" stroke-width="1px" />
                    <rect id="resize_nw" width="10" height="10" />
                    <rect id="resize_n" width="10" height="10" />
                    <rect id="resize_ne" width="10" height="10" />
                    <rect id="resize_e" width="10" height="10" />
                    <rect id="resize_se" width="10" height="10" />
                    <rect id="resize_s" width="10" height="10" />
                    <rect id="resize_sw" width="10" height="10" />
                    <rect id="resize_w" width="10" height="10" />
                </g>
            </svg>
        </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/image.js"></script>
    <script>
        "use strict"
        // ================ Global variables =================
        let choosen_id = null;
        let points = [];   // Used in Draw Line

        let app = new Vue({
            el: '#main',
            data: {
                type: "pen",
                code: ""
            },
            components: {

            },
            methods: {
                menu: function () {
                    if (this.type == "cursor") {
                        // Resize =========================================================================
                        // $("#resize_nw").on('pointerdown', function (e) {

                        // });

                        // $("#resize_n").on('pointerdown', function (e) {

                        // });

                        // $("#resize_ne").on('pointerdown', function (e) {

                        // });

                        // $("#resize_e").on('pointerdown', function (e) {
                        //     cursorPosition.x = e.clientX;
                        //     cursorPosition.y = e.clientY;
                        //     resizable = true;
                        //     dragable = false;
                        // });

                        // $("#resize_se").on('pointerdown', function (e) {

                        // });

                        // $("#resize_s").on('pointerdown', function (e) {

                        // });

                        // $("#resize_sw").on('pointerdown', function (e) {

                        // });

                        // $("#resize_w").on('pointerdown', function (e) {

                        // });
                    }
                },
                upload: async (e) => {  // upload image
                    let f = e.target.files[0];
                    let svg = $('svg#draw').attr("viewBox").split(" ");
                    if (f && f.type.startsWith('image/')) {
                        // TODO: Use async-await syntax
                        let url = await crop(f, svg[2], svg[3], 'dataURL', 'image/webp');
                        let newPath = document.createElementNS("http://www.w3.org/2000/svg", "image");
                        newPath.setAttribute('id', uuidv4());
                        newPath.setAttribute('href', url);
                        $("#draw").append(newPath);
                    }
                },
                save: function (e) {

                },
                unselect: function () {
                    if (choosen_id) {
                        $(`#${choosen_id}`).removeAttr("class");
                        $("#resize_wrap").removeAttr('style').hide();
                        choosen_id = null;
                    }
                }
            },
            computed: {

            },
            created() {
                $("#resize_wrap").hide();
            },
            mounted() {
                let coordinates = [];
                let newPath; // svg path

                // Coordinate variables
                let cursorPosition = null;
                let differentPosition = null;
                let position = null;
                let scale = { x: 1.00, y: 1.00 };
                let current_scale = { x: 1.00, y: 1.00 };

                // Flag
                let drag = false;
                let resize = false;

                window.requestAnimationFrame(update); // update by frame

                $("svg#draw").on('pointerdown pointerenter', function (e) {
                    e.preventDefault();
                    let current_position = cursorPoint(e);

                    switch (app.type) {
                        case "pen":         // Draw
                            app.unselect();
                            break;
                        case "cursor":      // Move
                            if (e.target.tagName == "path") {
                                position = { x: 0, y: 0 };
                                cursorPosition = current_position;
                                drag = true;

                                if (!choosen_id && e.type == 'pointerdown') {
                                    choosen_id = e.target.id;
                                    $(`#${choosen_id}`).addClass("choosen");
                                    $('#resize_wrap').show();
                                    selected_border($(".choosen")[0].getBBox());
                                }
                                else if (e.type != 'pointerdown') {
                                    drag = false;
                                }
                            }
                            break;
                        case "text":        // Textbox

                            break;
                        case "rect":        // Rectangle
                            app.unselect();
                            cursorPosition = { x: current_position.x, y: current_position.y };
                            break;
                        case "circle":      // Circle
                            app.unselect();
                            cursorPosition = { x: current_position.x, y: current_position.y };
                            break;
                        case "line":        // Line
                            app.unselect();
                            break;
                        default:
                            break;
                    }
                });

                $("svg#draw").on('pointermove', function (e) {
                    e.preventDefault();
                    let current_position = cursorPoint(e);

                    switch (app.type) {
                        case "pen":         // Draw
                            if (e.buttons == 1 && e.originalEvent.isPrimary) {
                                if (!newPath) {
                                    coordinates.push({ x: current_position.x - e.originalEvent.movementX, y: current_position.y - e.originalEvent.movementY });
                                    coordinates.push({ x: current_position.x, y: current_position.y });
                                    coordinates = coordinates.slice(-2);

                                    newPath = document.createElementNS("http://www.w3.org/2000/svg", "path");
                                    newPath.setAttribute('id', uuidv4());
                                    newPath.setAttribute('d', `M${simplifyNumber(coordinates[0].x)},${simplifyNumber(coordinates[0].y)}L${simplifyNumber(mid(coordinates[0], coordinates[1]).x)},${simplifyNumber((mid(coordinates[0], coordinates[1]).y))}`);
                                    newPath.setAttribute('stroke', 'black');
                                    newPath.setAttribute('stroke-width', '5px');
                                    newPath.setAttribute('fill', 'transparent');
                                    newPath.setAttribute('stroke-linejoin', 'round');
                                    newPath.setAttribute('stroke-linecap', 'round');

                                    $(this).append(newPath);
                                } else if (current_position.x != coordinates[1].x || current_position.y != coordinates[1].y) {
                                    coordinates.push({ x: current_position.x, y: current_position.y });
                                    coordinates = coordinates.slice(-3);

                                    newPath.setAttribute('d',
                                        `${newPath.getAttribute('d')}Q${simplifyNumber(coordinates[1].x)},${simplifyNumber(coordinates[1].y)},${simplifyNumber(mid(coordinates[1], coordinates[2]).x)},${simplifyNumber((mid(coordinates[1], coordinates[2]).y))}`
                                    );
                                }
                            }
                            break;
                        case "cursor":      // Move
                            if (!choosen_id) break;

                            if (drag) {
                                $(`#${choosen_id},#resize_wrap`).css('transform',
                                    `translate(${current_position.x - cursorPosition.x}px,${current_position.y - cursorPosition.y}px)`
                                );
                            }
                            else if (resize) {
                                selected_border($(".choosen")[0].getBBox());

                                differentPosition.x = current_position.x - (selected_info.x + selected_info.width);
                                current_scale.x = (differentPosition.x + selected_info.width) / selected_info.width;

                                $(`#${choosen_id}`).css(
                                    'transform',
                                    `translate(${selected_info.x}px,${selected_info.y}px) scale(${current_scale.x},${current_scale.y}) translate(-${selected_info.x}px,-${selected_info.y}px)`
                                );
                            }
                            break;
                        case "text":        // Textbox

                            break;
                        case "rect":        // Rectangle
                            if (e.buttons == 1 && e.originalEvent.isPrimary) {
                                if ($.isEmptyObject(differentPosition)) {
                                    newPath = document.createElementNS("http://www.w3.org/2000/svg", "rect");
                                    newPath.setAttribute('id', uuidv4());
                                    newPath.setAttribute('x', cursorPosition.x);
                                    newPath.setAttribute('y', cursorPosition.y);
                                    newPath.setAttribute('fill', "transparent");
                                    newPath.setAttribute('stroke', 'black');
                                    newPath.setAttribute('stroke-width', '3px');

                                    $(this).append(newPath);
                                }

                                differentPosition = { x: current_position.x - cursorPosition.x, y: current_position.y - cursorPosition.y };

                                if (differentPosition.x < 0 && differentPosition.y < 0) {
                                    newPath.setAttribute("x", current_position.x);
                                    newPath.setAttribute("y", current_position.y);
                                    newPath.setAttribute('width', cursorPosition.x - current_position.x);
                                    newPath.setAttribute('height', cursorPosition.y - current_position.y);
                                } else if (differentPosition.x < 0) {
                                    newPath.setAttribute("x", current_position.x);
                                    newPath.setAttribute("y", cursorPosition.y);
                                    newPath.setAttribute("width", cursorPosition.x - current_position.x);
                                    newPath.setAttribute('height', differentPosition.y);
                                } else if (differentPosition.y < 0) {
                                    newPath.setAttribute("y", current_position.y);
                                    newPath.setAttribute("x", cursorPosition.x);
                                    newPath.setAttribute('width', differentPosition.x);
                                    newPath.setAttribute('height', cursorPosition.y - current_position.y);
                                } else {
                                    newPath.setAttribute("x", cursorPosition.x);
                                    newPath.setAttribute("y", cursorPosition.y);
                                    newPath.setAttribute('width', differentPosition.x);
                                    newPath.setAttribute('height', differentPosition.y);
                                }

                            }
                            break;
                        case "circle":      // Circle
                            if (e.buttons == 1 && e.originalEvent.isPrimary) {
                                if (!newPath) { // check new elemen
                                    newPath = document.createElementNS("http://www.w3.org/2000/svg", "ellipse");
                                    newPath.setAttribute('id', uuidv4());
                                    newPath.setAttribute('cx', cursorPosition.x);
                                    newPath.setAttribute('cy', cursorPosition.y);
                                    newPath.setAttribute('fill', "transparent");
                                    newPath.setAttribute('stroke', 'black');
                                    newPath.setAttribute('stroke-width', '3px');

                                    $(this).append(newPath);    // add into svg
                                }

                                differentPosition = { x: Math.abs(current_position.x - cursorPosition.x), y: Math.abs(current_position.y - cursorPosition.y) };

                                // Prefect circle ===================================================
                                if (e.shiftKey) differentPosition.x > differentPosition.y ? differentPosition.y = differentPosition.x : differentPosition.x = differentPosition.y

                                // Set circle size ==================================================
                                newPath.setAttribute('rx', differentPosition.x / 2);
                                newPath.setAttribute('ry', differentPosition.y / 2);

                                // Fix position =====================================================
                                if (current_position.x - cursorPosition.x < 0 && current_position.y - cursorPosition.y < 0) {  // left top
                                    newPath.setAttribute('cx', cursorPosition.x - differentPosition.x / 2);
                                    newPath.setAttribute('cy', cursorPosition.y - differentPosition.y / 2);
                                }
                                else if (current_position.x - cursorPosition.x < 0) {   // left
                                    newPath.setAttribute('cx', cursorPosition.x - differentPosition.x / 2);
                                    newPath.setAttribute('cy', cursorPosition.y + differentPosition.y / 2);
                                }
                                else if (current_position.y - cursorPosition.y < 0) {  /// top
                                    newPath.setAttribute('cx', cursorPosition.x + differentPosition.x / 2);
                                    newPath.setAttribute('cy', cursorPosition.y - differentPosition.y / 2);
                                }
                                else {  // bottom right
                                    newPath.setAttribute('cx', cursorPosition.x + differentPosition.x / 2);
                                    newPath.setAttribute('cy', cursorPosition.y + differentPosition.y / 2);
                                }
                            }
                            break;
                        case "line":        // Line
                            if (e.buttons == 1 && e.originalEvent.isPrimary) {
                                if (!newPath) {
                                    let newPoint = comparePoint(current_position);
                                    cursorPosition = newPoint ? { x: newPoint.x, y: newPoint.y } :
                                        { x: current_position.x, y: current_position.y };

                                    newPath = document.createElementNS("http://www.w3.org/2000/svg", "path");
                                    newPath.setAttribute('id', uuidv4());
                                    newPath.setAttribute('fill', "transparent");
                                    newPath.setAttribute('stroke', 'black');
                                    newPath.setAttribute('stroke-width', '3px');
                                    newPath.setAttribute('stroke-linejoin', 'round');
                                    newPath.setAttribute('stroke-linecap', 'round');

                                    $(this).append(newPath);
                                }
                                newPath.setAttribute('d', `M${cursorPosition.x},${cursorPosition.y},L${current_position.x},${current_position.y}`);
                            }
                            break;
                        default:
                            break;
                    }
                });

                $("svg#draw").on('pointerup pointerleave', function (e) {
                    e.preventDefault();
                    let current_position = cursorPoint(e);

                    switch (app.type) {
                        case "pen":         // Draw
                            coordinates = [];
                            newPath = null;
                            break;
                        case "cursor":      // Move
                            if (e.target.tagName == "path" && choosen_id) {
                                const selected_css_value = $(`#${choosen_id}`).css('transform').split(',');

                                if (drag && selected_css_value != "none") {
                                    position = { x: parseFloat(selected_css_value[4]), y: parseFloat(selected_css_value[5]) };

                                    const coord = $(`#${choosen_id}`).attr('d').substring(1).split("Q");
                                    let new_coord;

                                    let i
                                    for (i of coord) {
                                        let coord_xy = i.split(",");
                                        if ($.isNumeric(coord_xy[0]) && $.isNumeric(coord_xy[1])) {
                                            !new_coord ?
                                                new_coord = `M${(parseFloat(coord_xy[0]) + position.x).toFixed(2)},${(parseFloat(coord_xy[1]) + position.y).toFixed(2)}` :
                                                new_coord += `Q${(parseFloat(coord_xy[0]) + position.x).toFixed(2)},${(parseFloat(coord_xy[1]) + position.y).toFixed(2)},${(parseFloat(coord_xy[2]) + position.x).toFixed(2)},${(parseFloat(coord_xy[3]) + position.y).toFixed(2)}`;
                                        }
                                    }
                                    $(`#${choosen_id}`).removeAttr('style');
                                    $(`#${choosen_id}`).attr('d', new_coord);

                                    selected_border($(".choosen")[0].getBBox());
                                    $("#resize_wrap").removeAttr('style');
                                }
                            }
                            cursorPosition = position = null;
                            drag = false;
                            break;
                        case "text":        // Textbox

                            break;
                        case "rect":        // Rectangle
                            newPath = differentPosition = cursorPosition = null;
                            break;
                        case "circle":      // Circle
                            newPath = differentPosition = cursorPosition = null;
                            break;
                        case "line":        // Line
                            if (cursorPosition) {
                                let newPoint = comparePoint(current_position);
                                if (newPoint) newPath.setAttribute('d', `M${cursorPosition.x},${cursorPosition.y},L${newPoint.x},${newPoint.y}`);
                                points.push(cursorPosition);
                                points.push({ x: current_position.x, y: current_position.y });
                            }
                            newPath = cursorPosition = current_position = null;
                            break;
                        default:
                            break;
                    }
                });

                // Zoom in & out
                $("svg#draw").on('mousewheel keydown', function (e) {
                    if (e.ctrlKey) {
                        e.preventDefault();
                        let scale = $("#draw,#grid_wrap")[0].getBoundingClientRect().width / $("#draw").width();
                        if (e.originalEvent.wheelDelta / 120 > 0) {
                            if (scale < 5) $("#draw,#grid_wrap").css("transform", `scale(${(scale + 0.05).toFixed(2)})`);
                        } else {
                            if (scale >= 0.1) $("#draw,#grid_wrap").css("transform", `scale(${(scale - 0.05).toFixed(2)})`);
                        }
                    }
                });

                // Delete selected object
                $(document).on('keydown', function (e) {
                    if (e.keyCode == 8 || e.keyCode == 46 && choosen_id) {
                        $(`#${choosen_id}`).remove();
                        app.unselect();
                    }
                });

                // Reset
                $("svg").click(function (e) {
                    if (e.target.tagName != "path" && choosen_id) {
                        app.unselect();
                    }
                });
            }
        });

        /* ==================================== Update by frame ====================================== */
        let rgb_H = 0;
        let secondsPassed;
        let oldTimeStamp;
        let fps;

        function update(timeStamp) {
            // Calculate the number of seconds passed since the last frame
            secondsPassed = (timeStamp - oldTimeStamp) / 1000;
            oldTimeStamp = timeStamp;

            // Calculate fps
            fps = Math.round(1 / secondsPassed);

            // Display fps
            fps > 20 ? $('#fps').html(`${fps}`).css("color", "green") :
                $('#fps').html(`${fps}`).css("color", "red");

            // RGB Stroke
            $("#draw path:not(#resize_wrap *)").attr('stroke', `hsl(${rgb_H}, 100%, 50%)`);
            rgb_H < 360 ? rgb_H++ : rgb_H = 0;
            $("label#pen span").css("color", `hsl(${rgb_H}, 100%, 50%)`);

            window.requestAnimationFrame(update);
        }

        /* ==================================== Function ====================================== */
        // Drawing function
        function mid(a, b) {
            return { x: (a.x + b.x) / 2, y: (a.y + b.y) / 2 };
        }

        function drawCurve(a, b) {
            if (line_id) {
                $(`#${line_id}`).attr("d",
                    `${$(`#${line_id}`).attr("d")}Q${simplifyNumber(a.x)},${simplifyNumber(a.y)},${simplifyNumber(b.x)},${simplifyNumber(b.y)}`
                );
            }
        }

        function simplifyNumber(n) {
            if (!$.isNumeric(n)) return;
            return n.toFixed(2) % 1 != 0 ? n.toFixed(2) : n.toFixed(0);
        }

        // Reset selected border coordinate
        function selected_border(selected_info) {
            $("#resize_border").attr("x", selected_info.x - 5).attr("y", selected_info.y - 5).attr("width", selected_info.width + 10).attr("height", selected_info.height + 10);
            $("#resize_nw").attr("x", selected_info.x - 10).attr("y", selected_info.y - 10).css("cursor", "nw-resize");
            $("#resize_n").attr("x", selected_info.x + (selected_info.width / 2) - 5).attr("y", selected_info.y - 10).css("cursor", "n-resize");
            $("#resize_ne").attr("x", selected_info.x + selected_info.width).attr("y", selected_info.y - 10).css("cursor", "ne-resize");
            $("#resize_e").attr("x", selected_info.x + selected_info.width).attr("y", selected_info.y + (selected_info.height / 2) - 5).css("cursor", "e-resize");
            $("#resize_se").attr("x", selected_info.x + selected_info.width).attr("y", selected_info.y + selected_info.height).css("cursor", "se-resize");
            $("#resize_s").attr("x", selected_info.x + (selected_info.width / 2) - 5).attr("y", selected_info.y + selected_info.height).css("cursor", "s-resize");
            $("#resize_sw").attr("x", selected_info.x - 10).attr("y", selected_info.y + selected_info.height).css("cursor", "sw-resize");
            $("#resize_w").attr("x", selected_info.x - 10).attr("y", selected_info.y + (selected_info.height / 2) - 5).css("cursor", "w-resize");
        }

        function uuidv4() { // ID generator
            return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
                (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
            );
        }

        function comparePoint(cursor) { // Get the nearest point
            if (!points) return
            for (let point of points)
                if (cursor.x >= point.x - 10 && cursor.x <= point.x + 10 &&
                    cursor.y >= point.y - 10 && cursor.y <= point.y + 10) return point;
        }

        /* ==================================== SVG Coordinate ====================================== */
        let svg = document.querySelector('svg');    // Find your root SVG element
        let pt = svg.createSVGPoint();  // Create an SVGPoint for future math

        function cursorPoint(evt) {     // Get point in global SVG space
            pt.x = evt.clientX; pt.y = evt.clientY;
            return pt.matrixTransform(svg.getScreenCTM().inverse());
        }
    </script>
</body>

</html>