<!DOCTYPE html>
<html lang="en">
<!-- Target
1) Resize and movable
2) Add Shape
3) Add textbox-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drawing</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            height: 100vh;
            background-color: #333;
        }

        #main,
        #content {
            height: 100%;
            width: 100%;
        }

        #content {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #nav {
            position: absolute;
            z-index: 999999;
            margin: 10px;
            border-radius: 10px;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 10px #ccc;
            background-color: white;
            user-select: none;
        }

        #nav * {
            transition-duration: 0.2s;
            color: #333;
        }

        #type label {
            margin: 5px;
            padding: 10px 13px;
            display: block;
            border-radius: 50%;
        }

        #type label:hover {
            background-color: #ccc;
        }

        #type label:active {
            background-color: #ddd;
        }

        #nav [type="radio"] {
            display: none;
        }

        .typeActive {
            background-color: #333;
            border-radius: 20px !important;
        }

        .typeActive span {
            color: white !important;
        }

        path {
            /* display: block; */
        }

        path.choosen {
            cursor: move;
        }

        [v-cloak]>* {
            display: none;
        }

        [v-cloak]::before {
            content: "Loading...";
            box-sizing: border-box;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50px;
            height: 50px;
            margin-top: -10px;
            margin-left: -10px;
            border-radius: 50%;
            border: 2px solid #ccc;
            border-top-color: #333;
            animation: spinner 0.8s linear infinite;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
        }

        @keyframes spinner {
            to {
                transform: rotate(360deg);
            }
        }

        svg {
            background-color: white;
            height: 744px;
            width: 1052px;
            touch-action: none;
        }
    </style>
</head>

<body>
    <div id="main" v-cloak>
        <div id="nav">
            <!-- Creating radio buttons -->
            <div id="type">
                <label v-bind:class="{ typeActive: type=='pen' }">
                    <input type="radio" name="type" value="pen" v-model="type" v-on:change="menu">
                    <span class="material-icons">edit</span>
                </label>
                <label v-bind:class="{ typeActive: type=='cursor' }">
                    <input type="radio" name="type" value="cursor" v-model="type" v-on:change="menu">
                    <span class="material-icons">open_with</span>
                </label>
                <label v-bind:class="{ typeActive: type=='text' }">
                    <input type="radio" name="type" value="text" v-model="type" v-on:change="menu">
                    <span class="material-icons">title</span>
                </label>
                <label v-bind:class="{ typeActive: type=='shape' }">
                    <input type="radio" name="type" value="shape" v-model="type" v-on:change="menu">
                    <span class="material-icons">crop_5_4</span>
                </label>
            </div>
        </div>

        <div id="content">
            <svg id="draw" viewBox="0 0 1052 744">
                <g id="resize_wrap">
                    <rect id="resize_border" fill="none" stroke="lightblue" stroke-width="1px" />
                    <rect id="resize_nw" width="10" height="10" />
                    <rect id="resize_n" width="10" height="10" />
                    <rect id="resize_ne" width="10" height="10" />
                    <rect id="resize_e" width="10" height="10" />
                    <rect id="resize_se" width="10" height="10" />
                    <rect id="resize_s" width="10" height="10" />
                    <rect id="resize_sw" width="10" height="10" />
                    <rect id="resize_w" width="10" height="10" />
                </g>
            </svg>
        </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/vue.js"></script>
    <script>
        let line_id = 0;
        let current_id = 0;
        let choosenId = -1;

        var app = new Vue({
            el: '#main',
            data: {
                types: ["pen", "cursor", "text", "shape"],
                type: "pen",
                code: ""
            },
            components: {

            },
            methods: {
                menu: function () {
                    if (this.type == "cursor") {
                        let clickStatus = false;
                        let cursorPosition = { x: 0.00, y: 0.00 };
                        let differentPosition = { x: 0.00, y: 0.00 };
                        let position = { x: 0.00, y: 0.00 };
                        let scale = { x: 1.00, y: 1.00 };

                        let current_position = { x: 0.00, y: 0.00 };
                        let current_scale = { x: 1.00, y: 1.00 };

                        let selected_info;

                        // 
                        $('svg').off('pointerdown');
                        $('svg').off('pointermove');
                        $('svg').off('pointerup');
                        $('svg').off('pointerleave');

                        let dragable = false;
                        let draged = false;
                        let resizable = false;

                        $(document).on('keydown', function (e) {
                            if (e.keyCode == 8) {
                                if (choosenId != -1) {
                                    $(`#${choosenId}`).remove();
                                    choosenId = -1;
                                }
                            }
                        });

                        $('svg *').on('pointerdown', function (e) {
                            let loc = cursorPoint(e);
                            if (e.target.tagName == "path") {
                                if (choosenId != -1) $(`#${choosenId}`).removeClass("choosen");

                                choosenId = $(this).data('id');
                                $(`#${choosenId}`).addClass("choosen");

                                if (e.target.classList.contains('choosen')) {
                                    if (!resizable) dragable = true;

                                    $('#resize_wrap').show();
                                    selected_info = $(".choosen")[0].getBBox();

                                    $("#resize_border").attr("x", selected_info.x - 5).attr("y", selected_info.y - 5).attr("width", selected_info.width + 10).attr("height", selected_info.height + 10);
                                    $("#resize_nw").attr("x", selected_info.x - 10).attr("y", selected_info.y - 10).css("cursor", "nw-resize");
                                    $("#resize_n").attr("x", selected_info.x + (selected_info.width / 2) - 5).attr("y", selected_info.y - 10).css("cursor", "n-resize");
                                    $("#resize_ne").attr("x", selected_info.x + selected_info.width).attr("y", selected_info.y - 10).css("cursor", "ne-resize");
                                    $("#resize_e").attr("x", selected_info.x + selected_info.width).attr("y", selected_info.y + (selected_info.height / 2) - 5).css("cursor", "e-resize");
                                    $("#resize_se").attr("x", selected_info.x + selected_info.width).attr("y", selected_info.y + selected_info.height).css("cursor", "se-resize");
                                    $("#resize_s").attr("x", selected_info.x + (selected_info.width / 2) - 5).attr("y", selected_info.y + selected_info.height).css("cursor", "s-resize");
                                    $("#resize_sw").attr("x", selected_info.x - 10).attr("y", selected_info.y + selected_info.height).css("cursor", "sw-resize");
                                    $("#resize_w").attr("x", selected_info.x - 10).attr("y", selected_info.y + (selected_info.height / 2) - 5).css("cursor", "w-resize");

                                    var selected_css_value = $(`#${choosenId}`).css('transform');

                                    if (selected_css_value != "none") {
                                        let temp = selected_css_value.split(',');

                                        position.x = parseInt(temp[4]);
                                        position.y = parseInt(temp[5]);

                                        scale.x = parseFloat(temp[0].split('(')[1]);
                                        scale.y = temp[3];
                                    } else {
                                        position = { x: 0, y: 0 };
                                    }

                                    cursorPosition.x = loc.x;
                                    cursorPosition.y = loc.y;
                                }
                            }
                        });

                        $('svg').on('pointermove', function (e) {
                            let loc = cursorPoint(e);
                            if (dragable) {
                                differentPosition = { x: loc.x - cursorPosition.x, y: loc.y - cursorPosition.y };
                                current_position = { x: position.x + differentPosition.x, y: position.y + differentPosition.y };

                                $(`#${choosenId}`).css('transform', `translate(${current_position.x}px,${current_position.y}px)`);
                                $('#resize_wrap').css('transform', `translate(${current_position.x}px,${current_position.y}px)`);

                                draged = true;
                            }
                            else if (resizable) {
                                let new_selected_info = $(".choosen")[0].getBBox();

                                differentPosition.x = loc.x - (selected_info.x + selected_info.width);
                                current_scale.x = (differentPosition.x + selected_info.width) / selected_info.width;

                                $("#resize_border").attr("x", new_selected_info.x - 5).attr("y", new_selected_info.y - 5).attr("width", new_selected_info.width + 10).attr("height", new_selected_info.height + 10);
                                $("#resize_nw").attr("x", new_selected_info.x - 10).attr("y", new_selected_info.y - 10).css("cursor", "nw-resize");
                                $("#resize_n").attr("x", new_selected_info.x + (new_selected_info.width / 2) - 5).attr("y", new_selected_info.y - 10).css("cursor", "n-resize");
                                $("#resize_ne").attr("x", new_selected_info.x + new_selected_info.width).attr("y", new_selected_info.y - 10).css("cursor", "ne-resize");
                                $("#resize_e").attr("x", new_selected_info.x + new_selected_info.width).attr("y", new_selected_info.y + (new_selected_info.height / 2) - 5).css("cursor", "e-resize");
                                $("#resize_se").attr("x", new_selected_info.x + new_selected_info.width).attr("y", new_selected_info.y + new_selected_info.height).css("cursor", "se-resize");
                                $("#resize_s").attr("x", new_selected_info.x + (new_selected_info.width / 2) - 5).attr("y", new_selected_info.y + new_selected_info.height).css("cursor", "s-resize");
                                $("#resize_sw").attr("x", new_selected_info.x - 10).attr("y", new_selected_info.y + new_selected_info.height).css("cursor", "sw-resize");
                                $("#resize_w").attr("x", new_selected_info.x - 10).attr("y", new_selected_info.y + (new_selected_info.height / 2) - 5).css("cursor", "w-resize");
                                $(`#${choosenId}`).css(
                                    'transform',
                                    `translate(${selected_info.x}px,${selected_info.y}px) scale(${current_scale.x},${current_scale.y}) translate(-${selected_info.x}px,-${selected_info.y}px)`
                                );
                            }
                        });

                        $('svg').on('pointerup', function (e) {
                            if (e.target.tagName == "path") {
                                const selected_css_value = $(`#${choosenId}`).css('transform').split(',');

                                if (selected_css_value != "none" && draged) {
                                    position = { x: parseFloat(selected_css_value[4]), y: parseFloat(selected_css_value[5]) };

                                    let coordinate = $(`#${choosenId}`).attr('d').substring(1).split("L");
                                    let new_css_value;

                                    for (let i of coordinate) {
                                        let temp2 = i.split(",");
                                        if ($.isNumeric(temp2[0]) && $.isNumeric(temp2[1])) {
                                            !new_css_value ?
                                                new_css_value = "M" + (parseFloat(temp2[0]) + position.x) + "," + (parseFloat(temp2[1]) + position.y) :
                                                new_css_value += "L" + (parseFloat(temp2[0]) + position.x) + "," + (parseFloat(temp2[1]) + position.y);
                                        }
                                    }

                                    $(`#${choosenId}`).css('transform', '');
                                    $(`#${choosenId}`).attr('d', new_css_value);

                                    selected_info = $(".choosen")[0].getBBox();

                                    $("#resize_wrap").removeAttr('style')

                                    $("#resize_border").attr("x", selected_info.x - 5).attr("y", selected_info.y - 5).attr("width", selected_info.width + 10).attr("height", selected_info.height + 10);
                                    $("#resize_nw").attr("x", selected_info.x - 10).attr("y", selected_info.y - 10).css("cursor", "nw-resize");
                                    $("#resize_n").attr("x", selected_info.x + (selected_info.width / 2) - 5).attr("y", selected_info.y - 10).css("cursor", "n-resize");
                                    $("#resize_ne").attr("x", selected_info.x + selected_info.width).attr("y", selected_info.y - 10).css("cursor", "ne-resize");
                                    $("#resize_e").attr("x", selected_info.x + selected_info.width).attr("y", selected_info.y + (selected_info.height / 2) - 5).css("cursor", "e-resize");
                                    $("#resize_se").attr("x", selected_info.x + selected_info.width).attr("y", selected_info.y + selected_info.height).css("cursor", "se-resize");
                                    $("#resize_s").attr("x", selected_info.x + (selected_info.width / 2) - 5).attr("y", selected_info.y + selected_info.height).css("cursor", "s-resize");
                                    $("#resize_sw").attr("x", selected_info.x - 10).attr("y", selected_info.y + selected_info.height).css("cursor", "sw-resize");
                                    $("#resize_w").attr("x", selected_info.x - 10).attr("y", selected_info.y + (selected_info.height / 2) - 5).css("cursor", "w-resize");

                                    draged = false;
                                }
                            }
                            resizable = false;
                            dragable = false;
                        });

                        // Resize ==========================================================================================
                        $("#resize_nw").on('pointerdown', function (e) {

                        });

                        $("#resize_n").on('pointerdown', function (e) {

                        });

                        $("#resize_ne").on('pointerdown', function (e) {

                        });

                        $("#resize_e").on('pointerdown', function (e) {
                            // cursorPosition.x = e.clientX;
                            // cursorPosition.y = e.clientY;
                            // resizable = true;
                            // dragable = false;
                        });

                        $("#resize_se").on('pointerdown', function (e) {

                        });

                        $("#resize_s").on('pointerdown', function (e) {

                        });

                        $("#resize_sw").on('pointerdown', function (e) {

                        });

                        $("#resize_w").on('pointerdown', function (e) {

                        });

                        // Reset ==========================================================================================
                        $('svg').on('click', function (e) {
                            if (e.target.tagName != "path" && !dragable && !resizable) {
                                if (choosenId != -1) {
                                    $(`#${choosenId}`).removeClass("choosen");
                                    $("#resize_wrap").removeAttr('style').hide();
                                    choosenId = -1;
                                }
                            }
                        });
                    }
                    else if (this.type == "pen") {
                        // Clear Select =========================================================================================
                        if (choosenId != -1) {
                            $(`#${choosenId}`).removeClass("choosen");
                            $("#resize_wrap").removeAttr('style').hide();
                            choosenId = -1;
                        }

                        // Drawing =========================================================================================
                        let drawing = false;
                        let startPosX = 0;
                        let startPosY = 0;

                        $('svg *').off('pointerdown');
                        $('svg').off('pointermove');
                        $('svg').off('pointerup');
                        $('svg').off('click');
                        $(`#${choosenId}`).removeClass("choosen");
                        choosenId = -1;

                        $('svg').on('pointerdown', function (e) {
                            line_id = uuidv4();
                            let loc = cursorPoint(e);
                            startPosX = loc.x;
                            startPosY = loc.y;
                            drawing = true;
                        });

                        $('svg').on('pointermove', function (e) {
                            if (drawing) {
                                let loc = cursorPoint(e);
                                if ($(`#${line_id}`).length == "1") {
                                    $(`#${line_id}`).attr("d", $(`#${line_id}`).attr("d") + `L${loc.x},${loc.y}`);
                                }
                                else {
                                    let newPath = document.createElementNS("http://www.w3.org/2000/svg", "path");
                                    newPath.setAttribute('id', line_id);
                                    newPath.setAttribute('data-id', line_id);
                                    newPath.setAttribute('d', `M${startPosX},${startPosY}L${loc.x},${loc.y}`);
                                    newPath.setAttribute('stroke', 'black');
                                    newPath.setAttribute('stroke-width', '3px');
                                    newPath.setAttribute('fill', 'transparent');
                                    newPath.setAttribute('stroke-linejoin', 'round');
                                    newPath.setAttribute('stroke-linecap', 'round');

                                    $(this).append(newPath);
                                }
                            }
                        });

                        $('svg').on('pointerup', function (e) {
                            drawing = false;
                        });

                        $('svg').on('pointerleave', function (e) {
                            drawing = false;
                        });


                    }
                    else if (this.type == "text") {
                        /*let textPosX = 0;
                        let textPosY = 0;
            
                        $('svg').style.cursor = "text";
            
                        $('svg').on('mousedown', function (e) {
                            text_id = uuidv4();
                            textPosX = e.pageX;
                            textPosY = e.pageY;
            
                            let newText = document.createElementNS("http://www.w3.org/2000/svg", "text");
                            newText.setAttribute()
                        })*/
                    }
                    else {

                    }
                }
            },

            computed: {

            },
            created() {
                $("#resize_wrap").hide();
            },
            mounted() {
                this.menu();
                // RGB Stroke ================================================
                let rgb_H = 0;
                setInterval(() => {
                    $("svg path").attr('stroke', `hsl(${rgb_H}, 100%, 50%)`);
                    rgb_H < 360 ? rgb_H++ : rgb_H = 0;
                }, 1);
            }
        });

        function uuidv4() {
            return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
                (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
            );
        }

        // Get point in global SVG space
        function cursorPoint(evt) {
            // Find your root SVG element
            let svg = document.querySelector('svg');

            // Create an SVGPoint for future math
            let pt = svg.createSVGPoint();

            pt.x = evt.clientX; pt.y = evt.clientY;
            return pt.matrixTransform(svg.getScreenCTM().inverse());
        }
    </script>
</body>

</html>